.customLink {
  border-color:#313237;
  @apply border-b-2;
}

.normalLink {
  @apply py-3 mx-3;
  display: block;
}

.normalimage {
  @apply px-4 py-3 box-content;
  display: block;
}

.hamburgermenu {
  height: 21px;
  width: 26px;
  position: relative;
  z-index: 2;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  transition: width 2s ease, background-color 0.5s ease;
  @apply px-3 py-4 box-content border-x border-gray-300

}

.bar {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background-color: black;
}

.hamburgermenu .bar1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.hamburgermenu .bar2 {
  transition: transform 0.2s ease-in-out;
}

.hamburgermenu .bar3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.hamburgermenu:hover .bar1 {
  transform: scaleX(0.7);
}

.hamburgermenu:hover .bar3 {
  transform: scaleX(0.4);
}

.hamburgermenu.active .bar1 {
  transform: rotate(45deg);
  background-color: black;
}

.hamburgermenu.active .bar2 {
  transform: scaleY(0);
}

.hamburgermenu.active .bar3 {
  transform: rotate(-45deg);
  background-color: black;
}

@media (max-width: 640px) {
  .normalLink,
  .normalimage {
    display: none;
  }
  .hamburgermenu {
    display: flex;
  }
}